@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts 
    {
    
    }
<form>
    <div class="form-controls">
        <input type="text" class="form-control" placeholder="Title" /><br />
        <input type="text" class="form-control" placeholder="Cast" /><br />
        <input type="text" class="form-control" placeholder="Director" /><br />
        <input type="text" class="form-control" placeholder="Producer" /><br />
        <input type="text" class="form-control" placeholder="Rating" /><br />
        <input type="text" class="form-control" placeholder="Release Date" /><br />
        <input type="text" class="form-control" placeholder="Image Name" /><br />
        <input type="text" class="form-control" placeholder="Image Extension" /><br />
        <button type="submit" class="btn btn-success">Add Movie</button>
    </div>
</form>
