@model desireview.Data.Review
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="" method="post" enctype="multipart/form-data">
    <div class="form-controls">
        @Html.DropDownListFor(x => x.MovieId, Model.ExistingMovies)
        @Html.TextAreaFor(x => x.ReviewContent, new { @placeholder = "Review Content", @class = "form-control" })
        @Html.TextBoxFor(x => x.ReviewedDate, new { @placeholder = "Reviewed Date", @class = "form-control" })
        @Html.TextBoxFor(x => x.ReviewTitle, new { @placeholder = "Review Title", @class = "form-control" })
        <button type="submit" class="btn btn-success">Add Review</button>
    </div>
</form>