<div>
    <div class="row" data-ng-repeat="i in data.selectedmovie">
        <div class="col-sm-4">
            <img ng-src="../Images/{{i.ImageName}}" class="img-thumbnail" />
        </div>
        <div class="col-sm-4 review-movie-details">
            <h4>{{i.Title}}</h4>
            <p>{{i.Cast}}</p>
            <p>{{i.Director}}</p>
            <p>{{i.Producer}}</p>

        </div>
        <div class="col-sm-4 details ratingclass">
            <p><span>1st Show's Rating</span></p>
            <div class="desi">
                <span ng-class="{spantrue : i.DesiReviewRating >= 5}">☆</span>
                <span ng-class="{spantrue : i.DesiReviewRating >= 4}">☆</span>
                <span ng-class="{spantrue : i.DesiReviewRating >= 3}">☆</span>
                <span ng-class="{spantrue : i.DesiReviewRating >= 2}">☆</span>
                <span ng-class="{spantrue : i.DesiReviewRating >= 1}">☆</span>
            </div>
            <p><span>User Rating</span>&emsp;(Add Your Rating Here)</p>
            <div class="rating">
                <span ng-class="{spantrue : i.AverageRating >= 5}">☆</span>
                <span ng-class="{spantrue : i.AverageRating >= 4}">☆</span>
                <span ng-class="{spantrue : i.AverageRating >= 3}">☆</span>
                <span ng-class="{spantrue : i.AverageRating >= 2}">☆</span>
                <span ng-class="{spantrue : i.AverageRating >= 1}">☆</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 subheading">
            <h2>VREVIEWS</h2>
        </div>
        <div class="col-sm-9 subheading addreview">
            <button class="btn btn-lg btn-success">ADD VREVIEW</button>
        </div>
    </div>
    <!--<div class="row scrollingcontent" data-ng-repeat="i in reviewdata">
        <div class="col-xs-6 col-sm-3" data-ng-repeat="j in i.vreviews"><img class="img-thumbnail" src="../Images/bahu.jpg" /></div>
    </div>-->
    <div class="row well" style="text-align: center;">
        <h5>Coming Soon</h>
    </div>
    <div class="row reviewcontent" data-ng-repeat="i in reviewdata">
        <div class="col-sm-12 review-body">
            <input type="checkbox" class="read-more-state" id="post-1" />
            <h4>{{i.title}}</h4>
            <p class="read-more-wrap">
                {{i.introduction}}
                <span class="read-more-target">{{i.body}}</span>
            </p>
            <label for="post-1" class="read-more-trigger"></label>
        </div>
    </div>
   

</div>